---
title: Blah blah
summary: TODO
tags: TODO
date: Fri Apr 29 16:56:36 BST 2016
---

Zac, Master of the Universe, stood on his head and sang the national anthem
backwards in Swahili while swigging creme-de-menthe and coding in python...
